<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
        First name:
        <input nbInput type="text" formControlName="firstName" required>
    </label>
    <label>
        Last name:
        <input nbInput type="text" formControlName="lastName" required>
    </label>
    <label>
        Username:
        <input nbInput type="text" formControlName="username" required>
    </label>
    <label>
        Email:
        <input nbInput type="text" formControlName="email" required>
    </label>
    <label>
        Password:
        <input nbInput type="password" formControlName="password" required>
    </label>
    <label>
        Roles:
        <input nbInput type="text" formControlName="roles" required>
    </label>
    <label>
        Institutions:
        <select formControlName="institution" required>
            <option [ngValue]="null"></option>
            <option *ngFor="let institution of institutions" [ngValue]="institution.id">{{institution.name}}</option>
        </select>
    </label>
    <p>
        Form Status: {{ profileForm.status }}
      </p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>