
<nb-card>
  <nb-card-header class="tesla-card-header">
    <nb-actions>
      <nb-action>
        <button nbButton size="tiny" (click)="back()">
          <nb-icon icon="arrow-ios-back-outline"></nb-icon>
        </button>
      </nb-action>
      <nb-action>
      </nb-action>
    </nb-actions>
    {{'CRUD.CREATE' | translate }} {{'IC.IC' | translate }}
  </nb-card-header>
  <nb-card-body class="example-items-rows">
      <ngx-create (save)="onSave($event)" [fields]="fields" [validator]="validator" [errors]="errors"></ngx-create>
  </nb-card-body>
</nb-card>
