<nb-card>
    <nb-card-header class="tesla-card-header">
        <!-- <nb-actions>
            <nb-action>
                <button nbButton size="tiny" (click)="back()">
                    <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                </button>
            </nb-action>
            <nb-action>
            </nb-action>
        </nb-actions> -->
        {{'SEND'}}
    </nb-card-header>
    <nb-card-body>
        <div>
            <nb-checkbox (checkedChange)="bigFontsToggle($event)">Big fonts</nb-checkbox>
        </div>
        <div>
            <nb-checkbox (checkedChange)="highContrastToggle($event)">High contrast</nb-checkbox>
        </div>
        <div>
            <nb-checkbox (checkedChange)="textToSpeechToggle($event)">Text to speech</nb-checkbox>
        </div>
        <br>
        <br>
        <button nbButton type="submit">Submit</button>
    </nb-card-body>
</nb-card>