@import '../../styles/themes';

@include nb-install-component() {
    .logo {
        background-image: nb-theme(logo);
        width: 150px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .logo-image-text {
        max-width: 50px;
        max-height: 26px;
        margin: 3px;
    }
    
    .title-image-text {
        font-size: 1.5rem;
    }
}