<nb-card *ngIf="instance">
    <nb-card-header>Update Instrument {{id}}</nb-card-header>
    <nb-card-body class="example-items-rows">
        <ngx-update (save)="onSave($event)" [fields]="fields" [errors]="errors"  [paths]="paths" [instance]="instance"></ngx-update>
    </nb-card-body>
    <nb-card-footer>
        <div style="display:flex; margin-bottom: 15px;">
            <label class="label" style="margin-bottom: 16px; flex:1">Providers</label>
            <button class="create-button" nbButton status='info' size="small" (click)="addNew($event)">
                <nb-icon icon="plus-circle-outline"></nb-icon>ADD NEW
            </button>
        </div>
        <!-- <ng2-smart-table (userRowSelect)="remove($event)" class="list" [settings]="settings" [source]="userSendCategories"></ng2-smart-table> -->
        <ngx-list #list [settings]="settings" [endpoint]="providersEndpoint"></ngx-list>
    </nb-card-footer>
</nb-card>