<div>
    <div class="row">
        
    </div>
</div>
<nb-card>
    <nb-card-header> {{'ACTIONS.DELETE' | translate}}</nb-card-header>
    <nb-card-body>
        {{'ACTIONS.DELETE_CONFIRMATION' | translate}}
    </nb-card-body>
    <nb-card-footer>
        <div class="card-buttons">
            <button nbButton status='warning' size="small" (click)="dismiss()">
                <nb-icon icon="close-circle-outline"></nb-icon>  {{'ACTIONS.CANCEL' | translate}}
            </button>
            <button class="delete-button" nbButton status='danger' size="small" (click)="delete()">
                <nb-icon icon="trash-2-outline"></nb-icon>  {{'ACTIONS.DELETE' | translate}}
            </button>
        </div>
    </nb-card-footer>
  </nb-card>
