<div class="list-header">
    <button class="create-button" nbButton status='info' size="small" (click)="create($event)">
        <nb-icon icon="plus-circle-outline"></nb-icon>ADD NEW
    </button>
    <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input type="text" nbInput #searchInput>
    </nb-form-field>
</div>
<ng2-smart-table (userRowSelect)="userRowSelect($event)" class="list" [settings]="settings" [source]="source"></ng2-smart-table>
<div class="list-footer">
    <nb-select placeholder="Items per page" [(selected)]="perPage" (selectedChange)="perPageOnChange($event)">
        <nb-option value="5">5</nb-option>
        <nb-option value="10">10</nb-option>
        <nb-option value="50">50</nb-option>
        <nb-option value="20">100</nb-option>
    </nb-select>
</div>
