<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div *ngFor="let field of data | keyvalue: originalOrder" class="col-sm-6">
            <div class="form-group" [ngSwitch]="field.value.inputType" style="margin-bottom: 0.75rem;">

                <label [for]="field.value.inputName" class="label">{{field.value.label || field.key}}</label>
                <!-- case select -->
                <nb-select fullWidth *ngSwitchCase="'select'" [(selected)]="instance[key]" placeholder="Select..."
                    [formControl]="formControls[field.key]">
                    <nb-option *ngFor="let option of field.value.options; let i = index" value="{{option.value}}">
                        {{option.key}}
                    </nb-option>
                </nb-select>

                <!-- case select multiple-->
                <nb-select fullWidth multiple required *ngSwitchCase="'select-multiple'"
                    placeholder="Select..." [formControl]="formControls[field.key]" [required]="field.value.required ? !field.value.disabled :  false" >
                    <!-- <nb-option value="" *ngIf="!field.value.required">Option empty</nb-option> -->
                    <nb-option *ngFor="let option of field.value.options; let i = index" value="{{option.value}}">
                        {{option.key}}
                    </nb-option>
                </nb-select>

                <!-- case select multiple remote -->
                <nb-select fullWidth multiple *ngSwitchCase="'select-multiple-remote'"
                    placeholder="Select..." [formControl]="formControls[field.key]" [required]="field.value.required ? !field.value.disabled :  false" >
                    <!-- <nb-option value="" *ngIf="!field.value.required">Option empty</nb-option> -->
                    <nb-option *ngFor="let option of field.value.options; let i = index" value="{{option.value}}">
                        {{option.key}}</nb-option>
                </nb-select>

                <!-- case select remote-->
                <ngx-select-remote *ngSwitchCase="'select-remote'" [field]="field.value" [initialValue]="instance[field.key]"
                    [parentForm]="updateForm">
                </ngx-select-remote>

                <!-- default input -->
                <input *ngSwitchDefault nbInput fullWidth [type]="field.value.inputType || text"
                    [id]="field.value.inputName || field.key" [name]="field.value.inputName || field.key"
                    [formControlName]="field.key" [placeholder]="field.value.disabled ? '*****' : field.value.placeholder || null"
                    [attr.disabled]="field.value.disabled || null"
                    [required]="field.value.required ? !field.value.disabled :  false" [status]="formErrors[field.key]?'danger':'basic'">

                <!-- errors -->
                <errors class="text-danger">{{formErrors[field.key]?formErrors[field.key]:''}}</errors>
                <div *ngIf="updateForm.controls[field.key].invalid && 
                updateForm.controls[field.key].errors && 
                (updateForm.controls[field.key].dirty || updateForm.controls[field.key].touched)">
                    <small class="text-danger" *ngIf="updateForm.controls[field.key].hasError('required')">
                        Required </small>
                    <small class="text-danger"
                        *ngIf="updateForm.controls[field.key].hasError('wrongFormat') && !updateForm.controls[field.key].hasError('required')">
                        Wrong Email Format </small>
                    <small class="text-danger"
                        *ngIf="updateForm.controls[field.key].hasError('notEquivalent') && !updateForm.controls[field.key].hasError('required')">
                        Passwords doesn't match </small>
                </div>
                <div style="height: 22px" *ngIf="!(updateForm.controls[field.key].invalid && 
                updateForm.controls[field.key].errors && 
                (updateForm.controls[field.key].dirty || updateForm.controls[field.key].touched))">&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
    <button *ngIf="!loading" nbButton type="submit" [disabled]="!updateForm.valid">Submit</button>
</div>
    <p>
        <!-- {{ updateForm.status }} -->
    </p>
</form>