<nb-card *ngIf="!loading">
    <nb-card-header class="tesla-card-header">
        <nb-actions>
            <nb-action>
                <button nbButton size="tiny" (click)="back()">
                    <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                </button>
            </nb-action>
            <nb-action>
            </nb-action>
        </nb-actions>
        {{ instance.name }}
    </nb-card-header>
    <nb-card-body>
        <div class="flexbox--direction-column">
            <div class="flexbox--direction-column">
                <p>{{instance.description || "Exemple descripció de l'activitat."}}</p>
                <p> {{'COURSE.STARTS' | translate }}: {{instance.start || "Sense data d'inici"}}</p>
                <p> {{'COURSE.ENDS' | translate }}: {{instance.end || "Sense data de finalització"}}</p>
                <button nbButton outline status="primary" (click)="reports()" class="back-button">{{'ACTIVITY_REPORTS' | translate }}</button>
                <p></p>
            </div>
        </div>
        <!-- <p>TO DO ACTIVITY SETTINGS</p> -->
        <!-- <div class="instruments">
                <label class="label">Instruments</label>
            </div> -->

            <div *ngIf="instance.instruments">
                <ngx-course-activity-instrument 
                class="width--max"
                [instance]="instance"
                ></ngx-course-activity-instrument>
            </div>
    </nb-card-body>
</nb-card>
