<nb-card *ngIf="!loading">
    <nb-card-header>{{instance.name}}</nb-card-header>
    <nb-card-body>
        <div class="activity-board">
            <div class="activity-info">
                <p>{{instance.description || "Exemple descripció de l'activitat."}}</p>
                <p>Start: {{instance.start || "Sense data d'inici"}}</p>
                <p>End: {{instance.end || "Sense data de finalització"}}</p>
            </div>
        </div>
        <!-- <p>AQUI ACTIVITY CONFIGURACIÓ</p> -->
        <!-- <div class="instruments">
                <label class="label">Instruments</label>
            </div> -->
        <nb-card>
            <nb-card-header>Instruments</nb-card-header>
            <nb-card-body>
                <div *ngIf="instance.instruments?.length > 0" fullWidth>
                    <div class="instrument" *ngFor="let instrument of instance.instruments" id={{instance.id}}>
                        <nb-card [class.alternative]="instrument.alternative_to">
                            <nb-card-header style="display: flex; justify-content: space-between;">
                                {{instrument.instrument.name}}
                                <p style="align-self: flex-end;" *ngIf="instrument.alternative_to">
                                    <strong>ALTERNATIVE</strong></p>
                            </nb-card-header>
                            <nb-card-body style="display: flex; flex-direction: column;">
                                <p class="instrument-description">{{instrument.instrument.description}}</p>
                                <div *ngIf="instrument.schema" class="instrument-jsonform">
                                    <jsonforms dataChange="consolIt($event)" errors="consolIt($event)"
                                        [data]="instrument.options" [renderers]="renderers" [schema]="instrument.schema"
                                        [ajv]="ajv">
                                    </jsonforms>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>