input#version-input-name,input#valid-from-input-name {
    color: black
}

.flexRow {
    display: flex;

    &-justify--between{
        justify-content: space-between;
    }
}

.mb-8 {
    margin-bottom: 16px;
}

#lenguageSelect {
    width: 160px;
    margin-right: 16px;
}
