input#version-input-name,input#valid-from-input-name {
    color: black
}

.flexRow {
    display: flex;

    &-justify--between{
        justify-content: space-between;
    }
}

a {
    margin-right: 4px;
}

// .modal {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
// }

.mb-8 {
    margin-bottom: 16px;
}

#lenguageSelect {
    width: 160px;
    margin-right: 16px;
}
