.pdf-Download {
    display: flex;
    align-items: baseline;

    p {
        margin-right: 24px;
    }
}

p, .innerHTML {
    margin-left: 8px;
}

.pdf-Download, .innerHTML {
    margin-bottom: 16px;
}

.ic {
    margin-top: 32px;
}

.first-line-form {
    display: flex;
    justify-content: space-between;
}
