<nb-card *ngIf="!loading">
    <nb-card-header class="tesla-card-header">
        {{ 'PROFILE.PROFILE' | translate }}
    </nb-card-header>
    <nb-card-body *ngIf="!globalAdmin">
        <label class="label">Locale</label>
        <nb-select fullWidth
            [(selected)] = "selectedLanguage"
            placeholder="Select Language...">
            <nb-option *ngFor="let language of availableLanguages;" [value]="language.value">
                {{ language.key }}
            </nb-option>
        </nb-select><br><br>
        <button nbButton (click)="changeLanguage()">Change Language</button>
    </nb-card-body>
    <nb-card-footer>
        <nb-checkbox [checked]="high_contrast" (checkedChange)="toggleHighContrast($event)">{{ 'PROFILE.ENABLE_HIGH_CONTRAST' | translate }}</nb-checkbox><br>
        <nb-checkbox [checked]="big_fonts" (checkedChange)="toggleBigFonts($event)">{{ 'PROFILE.ENABLE_BIG_FONTS' | translate }}</nb-checkbox><br>
        <nb-checkbox [checked]="text_to_speech" (checkedChange)="toggleTextToSpeech($event)">{{ 'PROFILE.ENABLE_TEXT_TO_SPEECH' | translate }}</nb-checkbox><br>
    </nb-card-footer>
    <nb-card-footer *ngIf="loginAllowed">
        <ngx-create (save)="changePassword($event)" [validator]="validator" [fields]="fields" [errors]="errors"></ngx-create>
    </nb-card-footer>
</nb-card>