<nb-card>
    <nb-card-header class="tesla-card-header">
        {{'PROFILE'}}
    </nb-card-header>
    <nb-card-body *ngIf="!loading">
        <!-- case select -->
        <label class="label">Locale</label>
        <nb-select fullWidth
            [(selected)] = "selectedLanguage"
            placeholder="Select Language...">
            <nb-option *ngFor="let language of availableLanguages;" [value]="language.value">
                {{ language.key }}
            </nb-option>
        </nb-select><br><br>
        <button nbButton (click)="changeLanguage()">Change Language</button>
    </nb-card-body>
    <nb-card-footer>
        <nb-checkbox [checked]="high_contrast" (checkedChange)="toggleHighContrast($event)">Enable high contrast</nb-checkbox><br>
        <nb-checkbox [checked]="big_fonts" (checkedChange)="toggleBigFonts($event)">Enable big fonts</nb-checkbox><br>
        <nb-checkbox [checked]="text_to_speech" (checkedChange)="toggleTextToSpeech($event)">Enable text to speech</nb-checkbox><br>
    </nb-card-footer>
    <nb-card-footer>
        <ngx-create (save)="changePassword($event)" [validator]="validator" [fields]="fields" [errors]="errors"></ngx-create>
    </nb-card-footer>
</nb-card>