<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row">
        <div *ngFor="let field of fields | keyvalue" class="col-sm-6">
            <div class="form-group" [ngSwitch]="field.value.inputType">

                <label [for]="field.value.inputName" class="label">{{field.value.label || field.key}}</label>
                <!-- case select -->
                <nb-select status="errors[field.key]?'danger':'default'" fullWidth *ngSwitchCase="'select'"
                    placeholder="Select..." [formControl]="formControls[field.key]">
                    <nb-option *ngFor="let option of field.value.options; let i = index" value="{{option.value}}">
                        {{option.key}}
                    </nb-option>
                </nb-select>

                <!-- case select multiple-->
                <nb-select 
                    status="errors[field.key]?'danger':'default'" 
                    fullWidth multiple
                    *ngSwitchCase="'select-multiple'" 
                    placeholder="Select..." 
                    [formControl]="formControls[field.key]">
                    <nb-option value="" *ngIf="!field.value.required">Option empty</nb-option>
                    <nb-option *ngFor="let option of field.value.options; let i = index" value="{{option.value}}">
                        {{option.key}}
                    </nb-option>
                </nb-select>

                <!-- case select multiple remote -->
                <nb-select status="errors[field.key]?'danger':'default'" fullWidth multiple
                    *ngSwitchCase="'select-multiple-remote'" placeholder="Select..."
                    [formControl]="formControls[field.key]">
                    <!-- <nb-option value="" *ngIf="!field.value.required">Option empty</nb-option> -->
                    <nb-option *ngFor="let option of field.value.options; let i = index" value="{{option.value}}">
                        {{option.key}}</nb-option>
                </nb-select>

                <!-- case select remote-->
                <ngx-select-remote
                    *ngSwitchCase="'select-remote'" 
                    [field]="field"
                    [apiService]="field.value.apiService">
                </ngx-select-remote>
                
                <!-- default input -->
                <input *ngSwitchDefault nbInput fullWidth [type]="field.value.inputType || text"
                    [id]="field.value.inputName || field.key" [name]="field.value.inputName || field.key"
                    [formControlName]="field.key" [placeholder]="field.value.placeholder || null"
                    [attr.disabled]="field.value.disabled || null"
                    [required]="field.value.required || false"
                    [status]="formErrors[field.key]?'danger':'default'">

                <!-- errors -->    
                <errors class="text-danger">{{formErrors[field.key]?formErrors[field.key]:''}}</errors>
                <div *ngIf="formGroup.controls[field.key].invalid && 
                formGroup.controls[field.key].errors && 
                (formGroup.controls[field.key].dirty || formGroup.controls[field.key].touched)">
                    <small class="text-danger" *ngIf="formGroup.controls[field.key].hasError('required')">
                        Required </small>
                    <small class="text-danger" *ngIf="formGroup.controls[field.key].hasError('wrongFormat') && !formGroup.controls[field.key].hasError('required')">
                        Wrong Email Format </small>
                    <small class="text-danger" *ngIf="formGroup.controls[field.key].hasError('notEquivalent') && !formGroup.controls[field.key].hasError('required')">
                        Passwords doesn't match </small>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="!loading" nbButton type="submit" [disabled]="!formGroup.valid">Submit</button>
    <p>
        <!-- {{ formGroup.status }} -->
    </p>
</form>