<nb-card *ngIf="!loading">
    <nb-card-header class="header">
        {{ instance.name }}
        <div class="actions">
          <button nbButton outline status="primary" size="tiny" (click)="back()" class="back-button">
              <nb-icon icon="arrow-ios-back-outline"></nb-icon>
          </button>
        </div>
    </nb-card-header>
    <nb-card-body class="flexbox flexbox--direction-column">
        <nb-toggle class="toggle" (click)="enableDisableActivity(!instance.enabled)" [(ngModel)]="instance.enabled"
            labelPosition="left" status="basic">
            {{'ENABLE_ACTIVITY' | translate }}
        </nb-toggle>
        <div class="flexbox--direction-column">
            <div class="flexbox--direction-column">
                <p>{{instance.description || "Exemple descripció de l'activitat."}}</p>
                <p> {{'COURSE.STARTS' | translate }}: {{instance.start || "Sense data d'inici"}}</p>
                <p> {{'COURSE.ENDS' | translate }}: {{instance.end || "Sense data de finalització"}}</p>
            </div>
        </div>
        <!-- <p>AQUI ACTIVITY CONFIGURACIÓ</p> -->
        <!-- <div class="instruments">
                <label class="label">Instruments</label>
            </div> -->
        <div *ngIf="instance.instruments">
            <ngx-course-activity-instrument class="width--max" 
            [type]="update" 
            [instance]="instance" 
            [course]="course" 
            [id]="id"
            [reload]="ngOnInit"
            >
            </ngx-course-activity-instrument>
        </div>
    </nb-card-body>
</nb-card>
