<nb-card *ngIf="!loading">
    <nb-card-body class="example-items-rows">
        <!-- Available Languages -->
        <div class="first-line-form" *ngIf="languagesSelections">
            <nb-select id="languageSelect" placeholder="Pick language" (selectedChange)="pickedLanguage($event)"
                [(selected)]="selectedLanguage">
                <nb-option *ngFor="let option of languagesSelections; let i = index" value="{{option}}">
                    {{option}}
                </nb-option>
            </nb-select>
        </div>
        <!-- Documents -->
        <div class="col-sm-12 ic" *ngIf="documents">
            <!-- PDF -->
            <div class="pdf-Download" *ngIf="documents[selectedLanguage].pdf && !documents[selectedLanguage].html">
                <pdf-viewer [src]="documents[selectedLanguage].pdf" [render-text]="true" style="display: block;">
                </pdf-viewer>
                <a *ngIf="documents[selectedLanguage].pdf" class="download" [href]="documents[selectedLanguage].pdf"
                    nbButton download="language.title">{{"IC.PDF_DOWNLOAD" | translate}}</a>
            </div>
            <!-- HTML -->
            <div *ngIf="documents[selectedLanguage].html">
                <div class="innerHTML" [innerHTML]="documents[selectedLanguage].html"></div>
            </div>
            <!-- IC acceptance -->
            <div *ngIf="!external" style="display: flex; align-self: center;">
                <button *ngIf="!loading && !valid" nbButton type="button"
                    (click)="accept()">{{"ACTIONS.ACCEPT_CONSENT" | translate }}</button>
                <button *ngIf="!loading && valid" nbButton type="button"
                    (click)="reject()">{{"ACTIONS.DECLINE_CONSENT" | translate }}</button>
            </div>
        </div>
        <!-- IC Version -->
        <div style="display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: space-between;">
                <div style="display: flex; flex-direction: column; margin-top: 16px;">
                    <div class="footer" >
                        <label [for]="fields['version'].inputName" class="label">{{"IC.VERSION" | translate}}:</label>
                        <p>{{instance.version || ""}}</p>
                    </div>
                    <div class="footer" >
                        <label [for]="fields['valid_from'].inputName" class="label">{{"IC.VALID_FROM" | translate}}:</label>
                        <p>{{instance.valid_from | date}}</p>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>