<nb-card>
    <nb-card-header>Update Send User {{id}}</nb-card-header>
    <nb-card-body *ngIf="endpoint" class="example-items-rows">
        <!-- <ngx-update (save)="onSave($event)" [fields]="fields" [errors]="errors"  [paths]="paths" [instance]="instance"></ngx-update> -->
        <div>
            <label class="label">Expires At</label>
            <input nbInput 
            fullWidth
            [placeholder]="'Pick a date'"
            [nbDatepicker]="dateTimePicker"
            id="expires_at"
            name="expires_at"
            [required]="true"
            [status]="'basic'">
            <nb-datepicker #dateTimePicker></nb-datepicker>
        </div>
        <br>
        <div style="display: flex;">
            <div style="flex:1; padding:15px">
                <label class="label">Available Categories</label>
                <ngx-list (externalUserRowSelect)="addCategory($event)"  [settings]="settings" [endpoint]="endpoint"></ngx-list>
            </div>
            <div style="flex:1; padding:15px">
                <label class="label" style="margin-bottom: 16px;">Selected Categories</label>
                <ng2-smart-table (userRowSelect)="removeCategory($event)" class="list" [settings]="settings" [source]="selectedCategories"></ng2-smart-table>
            </div>
        </div>
        <br>
        <br>
        <button nbButton type="submit">Submit</button>
    </nb-card-body>
</nb-card>