<nb-card>
    <nb-card-header>Update Send User {{id}}</nb-card-header>
    <nb-card-body *ngIf="settings" >
        <label class="label">Enabled Options</label><br>
        <nb-icon style="margin:5px" *ngFor="let enabled_option of learner.send.send.enabled_options" status='primary' [icon]="icons[enabled_option]" pack="fa"></nb-icon>
        <br>
        <br>
        <label class="label">Disabled Instruments</label><br>
        <nb-icon status='error' data-fill="full" *ngFor="let disabled_instrument of learner.send.send.disabled_instruments" [icon]="'instrument-' + instrumentsAcronyms[disabled_instrument]" pack="tesla"></nb-icon>
        <br>
        <br>
        <div style="display:flex; margin-bottom: 15px;">
            <label class="label" style="margin-bottom: 16px; flex:1">User SEND Categories</label>
            <button class="create-button" nbButton status='info' size="small" (click)="create($event)">
                <nb-icon icon="plus-circle-outline"></nb-icon>ADD NEW
            </button>
        </div>
        <ng2-smart-table (userRowSelect)="remove($event)" class="list" [settings]="settings" [source]="userSendCategories"></ng2-smart-table>
    </nb-card-body>
</nb-card>