.pdf-Download {
    display: flex;
    align-items: baseline;

    p {
        margin-right: 24px;
    }
}

p, .innerHTML {
    margin-left: 8px;
}

.pdf-Download, .innerHTML {
    margin-bottom: 16px;
}

.flexRow {
    display: flex;

    &-justify--between{
        justify-content: space-between;
    }
}

.padding {
    &-left {
        &--4 {
            padding-left:4px;
        }
    }
}
