server {
    listen 80;
    server_name localhost;
    root /usr/share/nginx/html;
    index index.html;

    location / {
        root /usr/share/nginx/html;
    }

    location /ui/ {
        root /usr/share/nginx/html;
    }
}
