label {
    margin-right: 8px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    &-row {
        display: flex;
        flex-direction: row;
    }
    &-control-column {
        display: flex;
        flex-direction: column;
    }

    &-control-row {
        display: flex;
        flex-direction: row;
    }
}

.activity {
    display: flex;
    flex-direction: column;
    
    &-board {
        display: flex;
        justify-content: space-between;
    }

    &-info {
        display: flex;
        flex-direction: column;
    }

    .toggle {
        align-items: start;

    }
}

.alternative {
    margin-left: 40px;
}

.instruments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-description {
        margin-bottom: 24px;
    }

    &-jsonform {
        margin-left: 24px;
    }
}

.padding {
    &-left {
        &--4 {
            padding-left:4px;
        }
    }
}
