<nb-card class="inline-form-card"  *ngIf="!loading">
    <nb-card-header class="tesla-card-header">
        <nb-actions>
            <nb-action>
                <button nbButton size="tiny" (click)="back()">
                    <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                </button>
            </nb-action>
            <nb-action>
            </nb-action>
        </nb-actions>
        {{ instance.code }}
    </nb-card-header>
    <nb-card-body class="example-items-rows" *ngIf="!loading">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="form-group-row">
                    <div class="form-group-control-column">
                        <label [for]="fields['description'].inputName" class="label">
                            {{fields['description'].label}}</label>
                        <p [innerHtml]="instance.description"></p>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group-control-row"></div>
                        <label [for]="fields['start'].inputName" class="label">
                            {{fields['start'].label}}
                        </label>
                        <p>{{instance.start || ""}}</p>
                    </div>
                <div class="form-group-row">
                    <div class="form-group-control-row">
                        <label [for]="fields['end'].inputName" class="label">
                            {{fields['end'].label}}
                        </label>
                        <p>{{instance.end || ""}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <ngx-course-activity-list [course]="instance"></ngx-course-activity-list>
        </div>
 </nb-card-body>
</nb-card>

<!-- <div *ngIf="instrument.schema" class="instrument-jsonform">
<jsonforms  
dataChange="consolIt($event)"
errors="consolIt($event)"
[data]="instrument.options"
[renderers]="renderers"
[schema]="instrument.schema" 
[ajv]="ajv">
</jsonforms> -->
<!-- </div> -->