<nb-card>
  <nb-card-header class="tesla-card-header">
    <nb-actions>
      <nb-action>
        <button nbButton size="tiny" (click)="back()">
          <nb-icon icon="arrow-ios-back-outline"></nb-icon>
        </button>
      </nb-action>
      <nb-action>
      </nb-action>
    </nb-actions>
    {{ 'ENROLMENT.ENROLMENT'|translate }}
  </nb-card-header>
  <nb-card-body>
    <div class="enrolStatus">
      <div class="enrolGauche">
        <ngx-enrolment-status style="width: 100%; min-height: 400px;" [enrolment]="getEnrolmentValue()" [analyzing]="getAnalyzingValue()" [instrument]="instrumentName"></ngx-enrolment-status>
      </div>
      <div class="enrolNotifications">
        Notifications
      </div>
    </div>
    <div class="enrolSingle" *ngIf="instrumentId === 1">
      <div class="instrument_1 step1" *ngIf="showStep(1, 1)">
        <h1 class="title contrastable">{{ 'ENROLMENT.INSTRUCTIONS'|translate }}</h1>
        <nb-layout>
          <nb-layout-column>
            <p>{{ 'ENROLMENT.FR.STAND_FRONT_SCREEN'|translate }}</p>
            <p>{{ 'ENROLMENT.FR.IMPORTANT_NOTE'|translate }}</p>
            <ul>
              <li>{{ 'ENROLMENT.FR.CAMERA_CENTER'|translate }}</li>
              <li>{{ 'ENROLMENT.FR.CAMERA_CORRECTLY_FACING'|translate }}</li>
              <li>{{ 'ENROLMENT.FR.ACTIVITY_ENVIRONMENT'|translate }}</li>
              <li>{{ 'ENROLMENT.FR.FOLLOW_INSTRUCTIONS'|translate }}</li>
              <li>{{ 'ENROLMENT.FR.PUSH_START'|translate }}</li>

            </ul>
          </nb-layout-column>
          <nb-layout-column>
            <video width="100%" controls>
              <source src="assets/enrolment/fr/fr.ogg" type="video/ogg">
              <source src="assets/enrolment/fr/fr.mp4" type="video/mp4">
              <source src="assets/enrolment/fr/fr.webm" type="video/webm">
              Your browser does not support the video tag.
            </video>
          </nb-layout-column>
        </nb-layout>



      </div>
      <div class="instrument_1 step2" *ngIf="showStep(1, 2)">
        <canvas #webcamSensorCanvas width="640" height="480" id="webcamSensorCanvas" style="display:none;"></canvas>
        <video #webcamVideo id="webcamVideo" muted style="max-width: 100%;"></video>
        <audio #photoClick id="photoClick" src="http://www.soundjay.com/mechanical/camera-shutter-click-08.mp3" style="display:none"></audio>
        <div #shutter id="shutter" class="shutter"></div>
      </div>
    </div>
    <div class="enrolActions" style="text-align: center;">
      <a nbButton outline status="primary" (click)="btnPrimaryClick()">{{ buttonLabel | translate }}</a>
      <a nbButton outline status="secondary" (click)="btnSecondaryClick()">{{ buttonSecondaryLabel | translate }}</a>
    </div>

  </nb-card-body>
</nb-card>
