<nb-card *ngIf="!loading">
    <nb-card-header style="display: flex; justify-content: space-between;">{{instance.name}}
        <nb-toggle class="toggle"
        (click)="enableDisableActivity(!instance.enabled)"
        [(ngModel)]="instance.enabled" labelPosition="left" status="basic">Is Active
    </nb-toggle>
    </nb-card-header>
    <nb-card-body>
        <div class="activity-board">
            <div class="activity-info">
                <p>{{instance.description || "Exemple descripció de l'activitat."}}</p>
                <p>Start: {{instance.start || "Sense data d'inici"}}</p>
                <p>End: {{instance.end || "Sense data de finalització"}}</p>
            </div>
        </div>
        <!-- <p>AQUI ACTIVITY CONFIGURACIÓ</p> -->
        <!-- <div class="instruments">
                <label class="label">Instruments</label>
            </div> -->
        <nb-card *ngIf="instance.instruments">
            <nb-card-header  style="display: flex; justify-content: space-between;">
                Instruments
                <button class="instruments-addInstrument" nbButton style="align-self: flex-end;"
                    (click)="addInstrument()" *ngIf="checkInstruments()">Add
                    Instrument</button>
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="instance.instruments?.length > 0" fullWidth>
                    <div class="instrument" *ngFor="let instrument of instance.instruments" id={{instance.id}}>
                        <nb-card [class.alternative]="instrument.alternative_to">
                            <nb-card-header style="display: flex; justify-content: space-between;">
                                {{instrument.instrument.name}}
                                <p style="align-self: flex-end;" *ngIf="instrument.alternative_to">
                                    <strong>ALTERNATIVE</strong>
                                </p>
                                <button nbButton style="align-self: flex-end;" *ngIf="!instrument.alternative_to"
                                    (click)="handleDeleteInstrument(instrument.id, instrument.hasAlternative)">DELETE</button>

                            </nb-card-header>
                            <nb-card-body style="display: flex; flex-direction: column;">
                                <p class="instrument-description">{{instrument.instrument.description}}</p>
                                <!-- <div *ngIf="instrument.schema" class="instrument-jsonform">
                                    <jsonforms dataChange="consolIt($event)" errors="consolIt($event)"
                                        [data]="instrument.options" [renderers]="renderers" [schema]="instrument.schema"
                                        [ajv]="ajv">
                                    </jsonforms>
                                </div> -->
                                <button nbButton style="align-self: flex-end;"
                                    *ngIf="!instrument.alternative_to && instrument.hasAlternative"
                                    (click)="handleDeleteInstrument(instrument.hasAlternative)">Delete
                                    Alternative</button>
                                <button nbButton style="align-self: flex-end;"
                                    *ngIf="!instrument.alternative_to && !instrument.hasAlternative && checkInstruments()"
                                    (click)="addInstrument(instrument.id)">Add Alternative</button>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <ng-template #escClose>
            <div class="instrument" *ngFor="let choice of addComponent.choices" id={{instance.id}}>
                <nb-card>
                    <nb-card-header style="display: flex; justify-content: space-between;">
                        {{choice.name}}
                        <button nbButton style="align-self: flex-end;"
                            (click)="handleAddInstrument(choice.id, addComponent.isAlternativeOf)">Add</button>
                    </nb-card-header>
                    <nb-card-body style="display: flex; flex-direction: column;">
                        <p class="instrument-description">{{choice.description}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
        </ng-template>
    </nb-card-body>
</nb-card>