<nb-card>
    <nb-card-header>Create new Informed Consent</nb-card-header>
    <nb-card-body class="example-items-rows">
        <nb-tabset>
            <nb-tab tabTitle="EN">
                <span>EN Content</span>
            </nb-tab>
            <nb-tab tabTitle="ES">
              <span>ES Content</span>
            </nb-tab>
            <nb-tab tabTitle="CA">
              <span>CA Content</span>
            </nb-tab>
        </nb-tabset>
        <div fullWidth></div>
        <label for="ckEditorConfig" class="label">Informed Consent</label>
        <ckeditor [config]="ckEditorConfig"></ckeditor>
        <ngx-create (save)="onSave($event)" [fields]="fields"></ngx-create>
    </nb-card-body>
</nb-card>