<div>
    <div class="row">
        
    </div>
</div>
<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis tincidunt tincidunt.
      Vestibulum vulputate maximus massa vel tristique. Suspendisse potenti. Duis aliquet purus sed dictum dictum.
      Donec fringilla, purus at fermentum imperdiet, velit enim malesuada turpis, quis luctus arcu arcu nec orci.
      Duis eu mattis felis. Quisque sollicitudin elementum nunc vel tincidunt. Vestibulum egestas mi nec
      iaculis varius. Morbi in risus sed sapien ultricies feugiat. Quisque pulvinar mattis purus,
      in aliquet massa aliquet et.
    </nb-card-body>
    <nb-card-footer>
        <div class="card-buttons">
            <button nbButton status='warning' size="small" (click)="dismiss()">
                <nb-icon icon="close-circle-outline"></nb-icon> CANCEL
            </button>
            <button class="delete-button" nbButton status='danger' size="small" (click)="delete()">
                <nb-icon icon="trash-2-outline"></nb-icon> DELETE
            </button>
        </div>
    </nb-card-footer>
  </nb-card>
