<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
        First name:
        <input type="text" formControlName="firstName" required>
    </label>
    <label>
        Last name:
        <input type="text" formControlName="lastName" required>
    </label>
    <label>
        Username:
        <input type="text" formControlName="username" required>
    </label>
    <label>
        Email:
        <input type="text" formControlName="email" required>
    </label>
    <p>
        Form Status: {{ profileForm.status }}
      </p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>