/* place here your global styles */
@use '@angular/material' as mat;

mat.$theme-ignore-duplication-warnings: true;

@import '../../../../node_modules/@tesla-ce/icons/src/lib/tesla.icons.component';

.tesla-card-header {
    display: flex
}

.tesla-card-actions{
    flex: 1
}

.another-action{
    display: none
}

.forgot-password{
    display: none;
}

.alert-title{
    display: none;
}
