<nb-card *ngIf="!loading">
    <nb-card-header class='tesla-card-header'>
        <div style="flex:1">
        {{'INSTRUMENT.PLURAL' | translate }}
        </div>
        <nb-actions>
            <nb-action>
                <button nbButton (click)="addInstrument()">
                    <nb-icon icon="plus-outline"></nb-icon>
                </button>
            </nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-footer *ngFor="let instrument of instance.instruments; let instrumentIndex = index" id={{instance.id}}>
            <nb-card [class.margin--left-40]="instrument.alternative_to" [class.margin--right-40]="instrument.alternative_to">
                <nb-card-header class="flexbox">
                    <div style="flex:1">
                        <nb-icon [icon]="'instrument-'+instrument.instrument.acronym" pack="tesla"></nb-icon>
                        {{ instrument.instrument.name }}
                    </div>
                    <nb-actions>
                        <nb-action>
                            <button nbButton
                                *ngIf="type !== 'show' && !instrument.alternative_to && !instrument.hasAlternative  || instruments && type !== 'show' && !instrument.alternative_to && !instrument.hasAlternative && checkInstruments()"
                                (click)="addInstrument(instrument.id)">
                                <nb-icon icon="plus-square-outline"></nb-icon>
                            </button>
                            <button
                                class="margin--left-8" 
                                *ngIf="type !== 'show'  &&  instrument.alternative_to"
                                nbButton
                                (click)="handleDeleteInstrument(instrument.id)">
                                <nb-icon icon="trash-2-outline"></nb-icon>
                            </button>
                            <button nbButton
                                class="margin--left-8"
                                *ngIf="type !== 'show'  &&  !instrument.alternative_to"
                                (click)="handleDeleteInstrument(instrument.id, instrument.hasAlternative)">
                                <nb-icon icon="trash-2-outline"></nb-icon>
                            </button>
                        </nb-action>
                        <nb-action>
                            <nb-toggle 
                                class="toggle"
                                *ngIf="type !== 'show'"
                                (click)="enableDisableInstrument(instrument)"
                                [(ngModel)]="instrument.active"
                                labelPosition="left"
                                status="basic">
                            </nb-toggle>
                        </nb-action>
                    </nb-actions>
                </nb-card-header>
                <nb-card-body class="flexbox flexbox--direction-column">
                    <p>{{instrument.instrument.description}}</p>
                    <div *ngIf="instrument.instrument.options_schema">
                        <jsonforms 
                            [schema]="instrument.instrument.options_schema | jsonParse"
                            [(data)]="data"
                            [renderers]="renderers"
                        ></jsonforms>              
                    </div>
                </nb-card-body>
        </nb-card>
    </nb-card-footer>
    <nb-card-footer>
        <button nbButton type="submit">SUBMIT</button>
    </nb-card-footer>
</nb-card>

<ng-template #escClose>
    <div *ngFor="let choice of addComponent.choices" id={{instance.id}}>
        <nb-card>
            <nb-card-header class="flexbox flexbox--justify-between">
                {{choice.name}}
                <button nbButton (click)="handleAddInstrument(choice.id, addComponent.isAlternativeOf)">
                    <nb-icon icon="plus-outline"></nb-icon>
                </button>
            </nb-card-header>
            <nb-card-body class="flexbox flexbox--direction-column">
                <p  class="margin--bottom-24">{{choice.description}}</p>
            </nb-card-body>
        </nb-card>
    </div>
</ng-template>