.pdf-Download {
    display: flex;
    align-items: baseline;

    p {
        margin-right: 24px;
    }
}

p, .innerHTML {
    margin-left: 8px;
}

.pdf-Download, .innerHTML {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.download {
    align-self: center;
}

.ic {
    margin-top: 32px;
}

.first-line-form {
    display: flex;
    justify-content: flex-end;
}

nb-card {
    max-width: 860px;
    margin: auto
}

.footer {
    display: flex;
    align-items: center;

    > p, label {
        margin: 0;
        padding: 0;
        font-size: small;
    }

    > label {
        margin-right: 4px;
    }
}
