<nb-card>
    <nb-card-header class="tesla-card-header">
        {{'SETTINGS'}}
    </nb-card-header>
    <nb-card-body>
        <nb-checkbox (checkedChange)="toggle($event)">Disable VLE learner creation</nb-checkbox><br>
        <nb-checkbox (checkedChange)="toggle($event)">Disable VLE instructor creation</nb-checkbox><br>
        <nb-checkbox (checkedChange)="toggle($event)">Disable VLE user creation</nb-checkbox><br>
        <nb-checkbox (checkedChange)="toggle($event)">Allow learner report</nb-checkbox><br>
        <nb-checkbox (checkedChange)="toggle($event)">Allow learner audit</nb-checkbox><br>
        <nb-checkbox (checkedChange)="toggle($event)">Allow valid audit</nb-checkbox><br>
        <br>
        <button nbButton type="submit">Submit</button>
 </nb-card-body>
</nb-card>
