<nb-card>
    <nb-card-header class="tesla-card-header">
        {{'SETTINGS'}}
    </nb-card-header>
    <nb-card-body *ngIf="institution">
        <form formGroup="readForm">
            <div class="form-group">
                <nb-checkbox [disabled]="disabled" [checked]="institution.disable_vle_learner_creation" (checkedChange)="toggleDisableVLELearnerCreation($event)">{{ 'INSTITUTION_SETTINGS.DISABLE_VLE_LEARNER_CREATION' | translate }}</nb-checkbox><br>
                <nb-checkbox [disabled]="disabled" [checked]="institution.disable_vle_instructor_creation" (checkedChange)="toggleDisableVLEInstructorCreation($event)">{{ 'INSTITUTION_SETTINGS.DISABLE_VLE_INSTRUCTOR_CREATION' | translate }}</nb-checkbox><br>
                <nb-checkbox [disabled]="disabled" [checked]="institution.disable_vle_user_creation" (checkedChange)="toggleDisableVLEUserCreation($event)">{{ 'INSTITUTION_SETTINGS.DISABLE_VLE_USER_CREATION' | translate }}</nb-checkbox><br>
                <nb-checkbox [disabled]="disabled" [checked]="institution.allow_learner_report" (checkedChange)="toggleAllowLearnerReport($event)">{{ 'INSTITUTION_SETTINGS.ALLOW_LEARNER_REPORT' | translate }}</nb-checkbox><br>
                <nb-checkbox [disabled]="disabled" [checked]="institution.allow_learner_audit" (checkedChange)="toggleAllowLearnerAudit($event)">{{ 'INSTITUTION_SETTINGS.ALLOW_LEARNER_AUDIT' | translate }}</nb-checkbox><br>
                <nb-checkbox [disabled]="disabled" [checked]="institution.allow_valid_audit" (checkedChange)="toggleAllowValidAudit($event)">{{ 'INSTITUTION_SETTINGS.ALLOW_VALID_AUDIT' | translate }}</nb-checkbox><br>
                <nb-checkbox [disabled]="disabled" [checked]="institution.external_ic" (checkedChange)="toggleExternalIC($event)">{{ 'INSTITUTION_SETTINGS.EXTERNAL_IC' | translate }}</nb-checkbox><br>
                <label class="label">{{ 'INSTITUTION_SETTINGS.ALLOWED_DOMAINS' | translate }}</label>
                <input nbInput fullWidth 
                    [type]="text"
                    [id]="allowed_domains" 
                    [value]="institution.allowed_domains"
                    [name]="allowed_domains"
                    placeholder="*.tesla-ce.eu"
                    [disabled]="disabled"
                    [required]="false"
                    status="basic">
                <br>
                <br>
                <button (click)="onSave()" nbButton type="submit">{{ 'ACTIONS.SUBMIT' | translate }}</button>
            </div>
        </form>
 </nb-card-body>
</nb-card>
