@import '../../../../@theme/styles/themes';

.flexbox {
  display: flex;

  &--direction-column {
      flex-direction: column;
  }

  &--justify-between {
      justify-content: space-between;
  }

  &--align-item-center {
      align-items: center;
  }

}
