<div [formGroup]="parentFrom"> 
          <input
            [ngModel]="value"
            [formControlName]="field.key" 
            fullWidth
            (ngModelChange)="onModelChange($event)"
            nbInput
            [required]="field.required || false"
            type="text"
            placeholder="Search"
            [nbAutocomplete]="autoNgModel" />
      
          <nb-autocomplete #autoNgModel>
      
            <nb-option *ngFor="let option of filteredNgModelOptions$ | async" [value]="option">
              {{ option }}
            </nb-option>
      
          </nb-autocomplete>

</div>