<div [formGroup]="parentForm"> 
  <input
    [ngModel]="value"
    [formControlName]="field.key" 
    fullWidth
    (ngModelChange)="onModelChange($event)"
    nbInput
    [required]="field.required || false"
    type="text"
    placeholder="Search"
    [nbAutocomplete]="autoNgModel" />

    <nb-autocomplete #autoNgModel>
      <nb-option *ngFor="let option of options" [value]="option[field.value.optionValueAccessor]">
        {{ option[field.value.optionLabelAccessor] }}
      </nb-option>
    </nb-autocomplete>  
</div>
